@import url('https://fonts.cdnfonts.com/css/arcade-classic');

:root{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    /* margin: 1em; */
    /* background-color: black; */
}

.container-fluid{
    height: 100%;
    width: 100%;
    /* margin: 1em; */
    /* background-color: black; */
}

.card{
    border-radius: 50%;
    margin: 1em;
}



.card-title{
    /* font-family: monospace; */
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;                                          
}

.card-text{
    font-family: monospace;
    font-size: 1.25rem;
    /* font-family: 'ArcadeClassic', sans-serif; */
    text-align: center; 
    /* font-size:  ; */
}

.col-lg-6{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    position: relative;
}



.btn{
    font-family: monospace;
    text-align: center;
}

.circulo{
    border-radius: 50%;
    border: solid black 0.2em;
    height: 2em;
    width: 2em;
    margin: 0.5em;
}

input[type="color"] {
    width: 2em;
    height: 2em;
    border: solid 0.2em black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.line {
    border: solid black 0.1em;
    border-radius: 1em;
}

.dot1 {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: solid black;
    margin: 0.2em;
}

.dotA {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: solid black;
    margin: 0.2em;
}

.check {
    height: 3em;
    width: 3em;
}

.dot {
    height: 3em;
    width: 3em;
}


/* .btn-form{
    width: 15em;
} */

