* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    margin: 1em;
}


.circle-card {
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

/* DIMENSION ESTANDAR PARA TODOS LOS BOTONES */

.btn-jugador {
    width: 10em;
}


input[type="color"] {
    width: 2em;
    height: 2em;
    border: solid 0.2em black;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.circulo-usuario{
    border-radius: 50%;
    border: solid black 0.2em;
    height: 2em;
    width: 2em;
    margin: 0.5em;
}

.tablero {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    width: 20em;
}

.coloresJugador {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin: 0.5em;
}

.oculto {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: solid black;
    margin: 0.5em;
    display: none;
}

.LineaOculta {
    border: solid black 0.1em;
    border-radius: 1em;
    display: none;
}

.linea {
    border: solid black 0.1em;
    border-radius: 1em;
}

.punto1 {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: solid black;
    margin: 0.2em;
}

.puntoA {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: solid black;
    margin: 0.2em;
}

.rowprincipal {
    margin-left: 0.02em;
    margin-bottom: 0.5em;
}

.dot {
    height: 3em;
    width: 3em;
}

.check {
    height: 3em;
    width: 3em;
}

.answer {
    width: 4em;
}

img {
    cursor: pointer;
}